"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monocolor-blue-syntax"
    ]
  editor:
    fontFamily: "Source  Code Pro"
    fontSize: 10
  "exception-reporting":
    userId: "855f29bd-2d47-45f0-b557-2649ae332dfb"
  welcome:
    showOnStartup: false
