'body, .platform-win32, atom-workspace, atom-text-editor.vim-mode:not(.insert-mode), atom-pane, atom-text-editor.vim-mode.insert-mode, atom-text-editor.vim-mode.replace-mode, .image-view, atom-text-editor:not([mini]), .markdown-preview, atom-text-editor, .platform-linux, atom-text-editor.vim-mode, .native-key-bindings, atom-text-editor.vim-mode:not(.insert-mode), .project-find, .find-and-replace, atom-text-editor.vim-mode.normal-mode, atom-text-editor.vim-mode.visual-mode, atom-text-editor.vim-mode.operator-pending-mode, .tree-view':
  'ctrl-a': 'core:select-all'
  'ctrl-e': 'core:close'
  'alt-`': 'tree-view:toggle'
  '`': 'tree-view:toggle-focus'
  # 'ctrl-l': 'pane:show-next-item'
  # 'ctrl-h': 'pane:show-previous-item'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-q': 'pane:show-previous-item'
  'ctrl-w': 'unset!'
  'ctrl-alt-s': 'application:show-settings'
  'ctrl-r':	'core:redo'
  # 'ctrl-f': 'vim-mode:search'
  'ctrl-f': 'native!'
  'ctrl-t': 'application:new-file'
  'alt-f1': 'editor:toggle-line-comments'
  'ctrl-c': 'core:copy'
  'ctrl-v': 'core:paste'
  'ctrl-j': 'fuzzy-finder:toggle-file-finder'
  'cmd-v': 'pane:split-down-and-copy-active-item'
  'cmd-h': 'pane:split-right-and-copy-active-item'
  'alt-k': 'window:focus-pane-above'
  'alt-j': 'window:focus-pane-below'
  'alt-h': 'window:focus-pane-on-left'
  'alt-l': 'window:focus-pane-on-right'
  'alt--': 'quick-highlight:toggle'
  'alt-0': 'quick-highlight:clear'

'atom-text-editor.vim-mode.insert-mode':
    'ctrl-w ctrl-c': 'unset!'
    'ctrl-w h': 'unset!'
    'ctrl-w j': 'unset!'
    'ctrl-w k': 'unset!'
    'ctrl-w l': 'unset!'
    'ctrl-w up': 'unset!'
    'ctrl-w down': 'unset!'
    'ctrl-w left': 'unset!'
    'ctrl-w right': 'unset!'
    'ctrl-w p': 'unset!'
    'ctrl-w q': 'unset!'
    'ctrl-w s': 'unset!'
    'ctrl-w c': 'unset!'
    'ctrl-w v': 'unset!'
    'ctrl-w w': 'unset!'

'atom-text-editor.vim-mode:not(.insert-mode)':
    'ctrl-w ctrl-c': 'unset!'
    'ctrl-w h': 'unset!'
    'ctrl-w j': 'unset!'
    'ctrl-w k': 'unset!'
    'ctrl-w l': 'unset!'
    'ctrl-w up': 'unset!'
    'ctrl-w down': 'unset!'
    'ctrl-w left': 'unset!'
    'ctrl-w right': 'unset!'
    'ctrl-w p': 'unset!'
    'ctrl-w q': 'unset!'
    'ctrl-w s': 'unset!'
    'ctrl-w c': 'unset!'
    'ctrl-w v': 'unset!'
    'ctrl-w w': 'unset!'

'body':
  'ctrl-u': 'core:page-up'
  'ctrl-d': 'core:page-down'
