# ================
#  USUAL GITIGNORE 
# ================
*.bak
*.out
*.swl
*.swm
*.swn
*.swo
*.swp
*~
.directory

# =======================
#  PARTIAL DIRS GITIGNORE 
# =======================

bin/cowsay/**/*.dat

# left this just in case I decide to track this folder again,
# since now it is done automatically by vscode in github gist
.config/Code - OSS/*
!.config/Code - OSS/storage.json
!.config/Code - OSS/User/
.config/Code - OSS/User/*
!.config/Code - OSS/User/settings.json

.config/cmus/*
!.config/cmus/autosave
!.config/cmus/lib.pl
!.config/cmus/playlist.pl

.config/GIMP/*/*
!.config/GIMP/*/scripts/
!.config/GIMP/*/menurc

.config/filezilla/*
!.config/filezilla/filezilla.xml
!.config/filezilla/filters.xml

.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__/

.config/sublime-text-3/*
!.config/sublime-text-3/Packages/
.config/sublime-text-3/Packages/*
!.config/sublime-text-3/Packages/User/
.config/sublime-text-3/Packages/User/*
!.config/sublime-text-3/Packages/User/Default (Linux).sublime-keymap
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!.config/sublime-text-3/Packages/User/Package Control.sublime-settings

.config/thefuck/*
!.config/thefuck/rules/
!.config/thefuck/settings.py

.config/vifm/vifm-help.txt
.config/vifm/vifminfo

.emacs.d/*
!.emacs.d/init.el

.irssi/*
!.irssi/config

.mutt/*
!.mutt/*muttrc
!.mutt/*sig

.tmux/plugins/*
!.tmux/plugins/tpm

.vim/*
!.vim/colors/

.zsh/.zcompdump
.zsh/aliases.local.zsh
.zsh/functions.local.zsh
.zsh/histfile
