.directory
*.swp
*.swl
*.swm
*.swn
*.swo
*~
nohup.out

cmd/.oh-my-zsh/*
cmd/.vim/bundle/
cmd/.vim/vundle/
cmd/.vim/var/backup/
cmd/.vim/var/swap/
cmd/.mutt/certificates  
cmd/.newsbeuter/cache*

xorg/.atom/*
xorg/.atom/.*
!xorg/.atom/config.cson
!xorg/.atom/keymap.cson
!xorg/.atom/style.less
!xorg/.atom/package_list


xorg/.config/copyq/*
!xorg/.config/copyq/copyq.conf

xorg/.config/cmus/*
!xorg/.config/cmus/autosave
!xorg/.config/cmus/lib.pl
!xorg/.config/cmus/playlist.pl














xorg/.CLion2016.3/system/

xorg/.config/autokey/*
!xorg/.config/autokey/autokey.json
!xorg/.config/autokey/data

xorg/.config/autokey/data/*
!xorg/.config/autokey/data/Chrome/

xorg/.config/Atom/*
xorg/.config/Thunar/
xorg/.config/gtk-2.0/
xorg/.config/gtk-3.0/
xorg/.config/vifm/
xorg/.config/vlc/
xorg/.config/teamviewer/
xorg/.config/google-chrome/
xorg/.config/sublime-text-3/Cache/
xorg/.config/sublime-text-3/Local/
xorg/.config/libreoffice/
xorg/.config/KeePass/
xorg/.config/RescueTime.com/
xorg/.config/deluge/*
xorg/.config/pulse/
xorg/.config/autokey/autokey.log
xorg/.config/autokey/autokey.pid
xorg/.config/dconf/
xorg/.config/cmus/autosave
xorg/.config/cmus/cache
xorg/.config/cmus/command-history
xorg/.config/cmus/lib.pl
xorg/.config/cmus/search-history
xorg/.config/deluge/autosave
xorg/.config/calibre
xorg/.config/sublime-text-3/Index

xorg/.kde4/socket-riddle
xorg/.kde4/tmp-riddle

xorg/.local/share/xorg/
xorg/.local/share/Steam/
xorg/.local/share/gegl-0.2/
xorg/.local/share/vlc/
xorg/.local/share/teamviewer12/
xorg/.local/share/applications/chrome-*
xorg/.local/share/recently-used.xbel
xorg/.local/share/Trash/   
xorg/.local/share/gvfs-metadata/   
xorg/.local/share/applications
xorg/.local/share/icons/hicolor/

xorg/.mozilla/*

xorg/.PyCharm2016.3/system/
