.directory
*.swp
*.swl
*.swm
*.swn
*.swo
*~
nohup.out

cmd/.irssi/
!cmd/.irssi/config

cmd/.mutt/*
!cmd/.mutt/muttrc

cmd/.oh-my-zsh/*
!cmd/.oh-my-zsh/.gitkeep

cmd/.tmux/*
!cmd/.tmux/plugins/

cmd/.vim/*
!cmd/.vim/after/
!cmd/.vim/colors/

xorg/.atom/*
xorg/.atom/.*
!xorg/.atom/config.cson
!xorg/.atom/keymap.cson
!xorg/.atom/style.less
!xorg/.atom/package_list

xorg/.config/autokey/*
!xorg/.config/autokey/autokey.json
!xorg/.config/autokey/data

xorg/.config/autokey/data/*
!xorg/.config/autokey/data/Chrome/

xorg/.config/copyq/*
!xorg/.config/copyq/copyq.conf

xorg/.config/cmus/*
!xorg/.config/cmus/autosave
!xorg/.config/cmus/lib.pl
!xorg/.config/cmus/playlist.pl

xorg/.config/filezilla/*
!xorg/.config/filezilla/filezilla.xml
!xorg/.config/filezilla/layout.xml
!xorg/.config/filezilla/sitemanager.xml

