[submodule ".vim/bundle/YouCompleteMe"]                                               
  path = .vim/bundle/YouCompleteMe
  ignore = dirty

[submodule ".vim/vundle/Syntastic"]                                               
  path = .vim/vundle/Syntastic
  ignore = dirty

[submodule ".vim/vundle/Tagbar"]                                               
  path = .vim/vundle/Tagbar
  ignore = dirty

[submodule ".vim/vundle/The-NERD-tree"]                                               
  path = .vim/vundle/The-NERD-tree                                                    
  ignore = dirty

[submodule ".vim/vundle/YouCompleteMe"]                                               
  path = .vim/vundle/YouCompleteMe
  ignore = dirty

[submodule ".vim/vundle/bufexplorer.zip"]                                               
  path = .vim/vundle/bufexplorer.zip
  ignore = dirty

[submodule ".vim/vundle/delimitMate.vim"]                                               
  path = .vim/vundle/delimitMate.vim
  ignore = dirty

[submodule ".vim/vundle/surround.vim"]                                               
  path = .vim/vundle/surround.vim
  ignore = dirty
