
! -- Urxvt settings -- !
URxvt.buffered: true
URxvt.cursorColor: #5E468C 
URxvt.cursorUnderline: false
URxvt.cursorBlink: true
URxvt.geometry: 110x50
URxvt.scrollBar: false
URxvt*scrollBar_right: false
URxvt.borderLess: false
URxvt.borderColor: #37454e
URxvt.transparent: 0
URxvt*.shading: 0
URxvt.letterSpace: 0
URxvt.lineSpace: 1
URxvt*iconFile: /home/riddle/Dropbox/sync/candy/icons/terminal/urxvt.svg
! disable the Ctrl+Shift binding (ISO 14755) in urxvt
URxvt.iso14755: false
URxvt.iso14755_52: false

! -- Fonts -- !
! Xft Font Configuration 
Xft.dpi: 96
Xft.antialias: true 
Xft.rgba: rgb
Xft.hinting: true 
Xft.hintstyle: hinstlight 

! Current Xft Font 
URxvt*font: xft:Source Code Pro:size=9:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro:size=9:antialias=true:hinting=true
URxvt*italicFont: xft:Source Code Pro:style=Oblique:size=9:antialias=true:hinting=true
URxvt*boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=9:antialias=true:hinting=true

! -- Colors -- !
#include ".config/colors/dark"

! --  Extensions -- !
URxvt.perl-ext-common:     clipboard,font-size,keyboard-select,url-select
URxvt.colorUL:             #4682B4
!! clipboard
URxvt.clipboard.autocopy:  true
URxvt.keysym.M-c:          perl:clipboard:copy
URxvt.keysym.M-v:          perl:clipboard:paste
URxvt.keysym.M-C-v:        perl:clipboard:paste_escaped
!! keyboard-select
URxvt.keysym.M-i:          perl:keyboard-select:activate
!! url-select
URxvt.keysym.M-u:            perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/xdg-open
URxvt.url-select.underline:  true

! -- Xterm settings -- !
xterm*termName: xterm-256color
xterm*locale: true
xterm*cursorColor: #1792d0
xterm*toolBar: false
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*faceName: anonymous pro:bold:size=8
xterm*allowBoldFonts: true
xterm*dynamiccolors: true
xterm*utf8:               2
xterm*geometry:           100x50
xterm*visualBell:         off
xterm*highlightSelection: true
xterm*scrollTtyOutput: true

xterm*color0: #000000
xterm*color1: #CC0000
xterm*color2: #4E9A06
xterm*color3: #C4A000
xterm*color4: #3465A4
xterm*color5: #75507B
xterm*color6: #06989A
xterm*color7: #D3D7CF
xterm*color8: #555753
xterm*color9: #EF2929
xterm*color10: #8AE234
xterm*color11: #FCE94F
xterm*color12: #729FCF
xterm*color13: #AD7FA8
xterm*color14: #34E2E2
xterm*color15: #EEEEEC

! -- Xscreensaver settings -- !
xscreensaver.splash: false
xscreensaver.mode: blank

!font settings
xscreensaver.Dialog.headingFont:        -misc-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -misc-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -misc-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #1792d0
xscreensaver.Dialog.background:         #202020
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #1792d0
xscreensaver.Dialog.Button.background:  #000000

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #7262b3
xscreensaver.Dialog.text.background:    #002626
xscreensaver.Dialog.internalBorderWidth: 45
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    4

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:   #1792d0 
xscreensaver.passwd.thermometer.background:  #7262b3
xscreensaver.passwd.thermometer.width:       6

!!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%p - %a %b %d, %Y
