# vim: set ft=desktop noai nu et ts=2 sw=2:
#------------------------------------------------------------------------------
# Author: 00riddle00 (Tomas Giedraitis)
# Date:   2026-08-11 19:13:34 CEST
# Path:   ~/.config/autostart/picom.desktop
# URL:    https://github.com/00riddle00/dotfiles
#------------------------------------------------------------------------------
[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=true
Name=Picom
GenericName=X compositor
Comment=An X compositor
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
TryExec=picom
Exec=picom
StartupNotify=false
Terminal=false
Icon=compton
Hidden=true
