/*-----------------------------------------------------------------------------
* Author: 00riddle00 (Tomas Giedraitis)
* Date:   2024-04-06 23:04:54 EEST
* Path:   ~/.local/share/dotshare/qutebrowser-homepage/style.css
* URL:    https://github.com/00riddle00/dotfiles
-----------------------------------------------------------------------------*/

body {
  background-color: #063441;
}

h2 {
  color: #1793d1; 
  margin-left: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.panorama {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}
