[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/Twitter]
row=2
col=7

[/home/riddle/Desktop/{Business]
row=5
col=10

[/home/riddle/Desktop/Community.S06E08.Intro.to.Recycled.Cinema.WebRip.x264-FiHTV.mp4]
row=4
col=0

[/home/riddle/Desktop/Emacs]
row=3
col=1

[/home/riddle/Desktop/{app]
row=0
col=11

[/home/riddle/Desktop/image.png]
row=1
col=3

[/home/riddle/Desktop/id1 soc wallet.ods]
row=1
col=0

[/home/riddle/Desktop/wline notes]
row=4
col=6

[/home/riddle/Desktop/{events worldwide]
row=4
col=8

[/home/riddle/Desktop/{B-plan]
row=7
col=10

[/home/riddle/Desktop/vizualke]
row=6
col=8

[/home/riddle/Desktop/{Video2 rendered]
row=5
col=11

[/home/riddle/Desktop/jl draft]
row=6
col=2

[/home/riddle/Desktop/pyth]
row=6
col=5

[/home/riddle/Desktop/profile.jpg]
row=7
col=5

[/home/riddle/Desktop/{Screenshots]
row=1
col=10

[/home/riddle/Desktop/Arch]
row=1
col=1

[/home/riddle/Desktop/codingf]
row=6
col=1

[/home/riddle/Desktop/html notes]
row=2
col=0

[/home/riddle/Desktop/Screenshot_2015-05-08_17-21-33.png]
row=0
col=12

[/home/riddle/Desktop/refleksijos]
row=5
col=5

[/home/riddle/Desktop/{Books]
row=6
col=10

[/home/riddle/Desktop/Vyckos art zygiai.odt]
row=6
col=6

[/home/riddle/Desktop/{Competitors.ods]
row=2
col=6

[/home/riddle/Desktop/laikas.png]
row=4
col=2

[/home/riddle/Desktop/{Business plan Verslauk]
row=4
col=10

[/home/riddle/Desktop/In the know.xlsx]
row=7
col=2

[/home/riddle/Desktop/{FB instagram tweets]
row=3
col=8

[/home/riddle/Desktop/test]
row=1
col=12

[/home/riddle/Desktop/Instagram fts]
row=4
col=7

[/home/riddle/Desktop/No Starch Press The Linux Command Line, A Complete Introduction 2nd (2013).pdf]
row=1
col=4

[/home/riddle/Desktop/em1]
row=4
col=1

[/home/riddle/Desktop/{signature mail]
row=0
col=8

[/home/riddle/Desktop/Vilniaus schema.psd]
row=7
col=6

[/home/riddle/Desktop/PKK-2.psd]
row=1
col=6

[/home/riddle/Desktop/ukraine etc]
row=1
col=7

[/home/riddle/Desktop/WEBPAGE]
row=1
col=11

[/home/riddle/Desktop/Learn Python The Hard Way]
row=6
col=9

[/home/riddle/Desktop/coding skills]
row=7
col=1

[/home/riddle/Desktop/unix_tutorial.pdf]
row=0
col=7

[/home/riddle/Desktop/Community.S06E06.WEBRip.x264-TASTETV.mp4]
row=7
col=0

[/home/riddle/Desktop/skoda]
row=0
col=9

[/home/riddle/Desktop/{Work]
row=2
col=11

[/home/riddle/Desktop/wline color]
row=5
col=6

[/home/riddle/Desktop/CHERNEV - Logical Chess Move by Move.pdf]
row=1
col=2

[/home/riddle/Desktop/linkedin.png]
row=3
col=4

[/home/riddle/Desktop/Head_First_Java_Second_Edition.pdf]
row=0
col=3

[/home/riddle/Desktop/Screenshot from 2015-04-23 13:11:33.png]
row=3
col=5

[/home/riddle/Desktop/linkedin.cdr]
row=5
col=4

[/home/riddle/Desktop/vc]
row=7
col=8

[/home/riddle/Desktop/xfce]
row=0
col=1

[/home/riddle/Desktop/{Brainstorm]
row=3
col=6

[/home/riddle/Desktop/Social Wallet Canvanizer.jpg]
row=2
col=5

[/home/riddle/Desktop/fb post]
row=5
col=3

[/home/riddle/Desktop/root phone]
row=4
col=5

[/home/riddle/Desktop/render2]
row=2
col=9

[/home/riddle/Desktop/Getting to Yes - Negotiating Agreement Without Giving In - Roger Fisher [Qwerty80].pdf]
row=3
col=3

[/home/riddle/Desktop/Learning_GNU_Emacs_3rd_Edition.pdf]
row=6
col=4

[/home/riddle/Desktop/Head First HTML and CSS - 2nd Edition - Elisabeth Robson.pdf]
row=2
col=3

[/home/riddle/Desktop/Skelbimai]
row=1
col=9

[/home/riddle/Desktop/spi]
row=1
col=5

[/home/riddle/Desktop/vi-vim-cheat-sheet.gif]
row=3
col=12

[/home/riddle/Desktop/PKK notes]
row=6
col=3

[/home/riddle/Desktop/adalana]
row=3
col=2

[/home/riddle/Desktop/{Devices customization]
row=5
col=8

[/home/riddle/Desktop/Screenshot_2015-05-08_17-20-54.png]
row=2
col=12

[/home/riddle/Desktop/{Video]
row=6
col=11

[/home/riddle/Desktop/Movies series books]
row=2
col=4

[/home/riddle/Desktop/{Pri]
row=1
col=8

[/home/riddle/Desktop/poker prob]
row=0
col=6

[/home/riddle/Desktop/10258139_780403735312588_4571654137430790285_n.jpg]
row=6
col=0

[/home/riddle/Desktop/cs]
row=5
col=1

[/home/riddle/Desktop/Games]
row=4
col=3

[/home/riddle/Desktop/Learn Python The Hard Way 3rd Edition.pdf]
row=7
col=4

[/home/riddle/Desktop/fb link.png]
row=2
col=1

[/home/riddle/Desktop/{FB lists]
row=2
col=8

[/home/riddle/Desktop/termo siulai wline]
row=0
col=5

[/home/riddle/Desktop/notes]
row=0
col=4

[/home/riddle/Desktop/logo doncei]
row=5
col=9

[/home/riddle/Desktop/palicika]
row=7
col=3

[/home/riddle/Desktop/Grozionamai]
row=5
col=7

[/home/riddle/Desktop/Adalana]
row=7
col=7

[/home/riddle/Desktop/render]
row=3
col=9

[/home/riddle/Desktop/Kauno schema.psd]
row=5
col=2

[/home/riddle/Desktop/{Vadoveliai sell]
row=7
col=11

[/home/riddle/Desktop/LinkedIn.png]
row=4
col=4

[/home/riddle/Desktop/bookmarks mamos pc.html]
row=2
col=2

[/home/riddle/Desktop/{sena.lt]
row=0
col=10

[/home/riddle/Desktop/Python]
row=4
col=9

[/home/riddle/Desktop/coding brainstorm]
row=0
col=2

[/home/riddle/Desktop/{Screens]
row=2
col=10

[/home/riddle/Desktop/Community.S06E09.WEBRip.x264-TASTETV.mp4]
row=5
col=0

[/home/riddle/Desktop/The Pragmatic Programmer, From Journeyman To Master - Andrew Hunt, David Thomas - Addison Wesley - 1999.pdf]
row=3
col=7

[/home/riddle/Desktop/JL]
row=7
col=9

[/home/riddle/Desktop/10258139_780403735312588_4571654137430790285_n (copy).jpg]
row=0
col=0

[/home/riddle/Desktop/{Karolai]
row=3
col=10

[/home/riddle/Desktop/{w-line]
row=4
col=11

[/home/riddle/Desktop/{Wallet]
row=3
col=11

[/home/riddle/Desktop/Community.S06E07.Advanced.Safety.Features.WebRip.x264-FiHTV.mp4]
row=3
col=0

[/home/riddle/Desktop/biznis]
row=6
col=7

