[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/Ловля щук]
row=2
col=0

[/home/riddle/Desktop/archlinux]
row=1
col=1

[/home/riddle/Desktop/Lenovo R50e:]
row=1
col=6

[/home/riddle/Desktop/media]
row=0
col=1

[/home/riddle/Desktop/Note 3 20150802]
row=0
col=2

[/home/riddle/Desktop/MYpylab]
row=1
col=0

[/home/riddle/Desktop/apache.desktop]
row=0
col=3

[/home/riddle/Desktop/DE words]
row=0
col=5

[/home/riddle/Desktop/pylab]
row=0
col=8

[/home/riddle/Desktop/Mysite0.desktop]
row=1
col=3

[/home/riddle/Desktop/LICENSE]
row=1
col=4

[/home/riddle/Desktop/Adalana]
row=3
col=6

[/home/riddle/Desktop/mysite]
row=1
col=2

[/home/riddle/Desktop/pylabsauron]
row=3
col=0

[/home/riddle/Desktop/Main]
row=0
col=0

[/home/riddle/Desktop/May-Karl--Winnetou I.pdf]
row=1
col=7

[/home/riddle/Desktop/signature mail]
row=7
col=3

