[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/Cell]
row=4
col=2

[/home/riddle/Desktop/Twitter]
row=3
col=1

[/home/riddle/Desktop/image.png]
row=0
col=0

[/home/riddle/Desktop/wevents worldwide]
row=3
col=3

[/home/riddle/Desktop/Pri]
row=0
col=3

[/home/riddle/Desktop/under_cons]
row=1
col=1

[/home/riddle/Desktop/maths]
row=6
col=3

[/home/riddle/Desktop/permisions]
row=7
col=4

[/home/riddle/Desktop/fvision]
row=7
col=0

[/home/riddle/Desktop/style "panelbuttons"]
row=0
col=4

[/home/riddle/Desktop/social]
row=2
col=5

[/home/riddle/Desktop/Rules]
row=3
col=6

[/home/riddle/Desktop/jl draft]
row=2
col=2

[/home/riddle/Desktop/House.of.Cards.2013.S02E08.720p.NF.WEBRip.DD5.1.x264-NTb.mkv]
row=4
col=6

[/home/riddle/Desktop/swedbank]
row=1
col=9

[/home/riddle/Desktop/ids brainstorm]
row=3
col=5

[/home/riddle/Desktop/Arch]
row=5
col=4

[/home/riddle/Desktop/business books]
row=7
col=8

[/home/riddle/Desktop/{bendras planas]
row=6
col=2

[/home/riddle/Desktop/(a)2014]
row=2
col=6

[/home/riddle/Desktop/wline naujas]
row=0
col=1

[/home/riddle/Desktop/job]
row=7
col=9

[/home/riddle/Desktop/balou arch]
row=4
col=8

[/home/riddle/Desktop/{people]
row=3
col=7

[/home/riddle/Desktop/balou milky]
row=5
col=7

[/home/riddle/Desktop/balou linux forever]
row=3
col=8

[/home/riddle/Desktop/wBusiness]
row=3
col=10

[/home/riddle/Desktop/molokai file]
row=2
col=4

[/home/riddle/Desktop/style "xfcepanel"2]
row=1
col=6

[/home/riddle/Desktop/d draft.odt]
row=5
col=2

[/home/riddle/Desktop/In the know.xlsx]
row=3
col=2

[/home/riddle/Desktop/vizualke]
row=7
col=10

[/home/riddle/Desktop/vim color schemes]
row=7
col=3

[/home/riddle/Desktop/style "xfcepanel"]
row=5
col=5

[/home/riddle/Desktop/Instagram fts]
row=4
col=9

[/home/riddle/Desktop/archey config]
row=5
col=0

[/home/riddle/Desktop/Devices customization]
row=4
col=3

[/home/riddle/Desktop/app]
row=5
col=10

[/home/riddle/Desktop/http.desktop]
row=1
col=4

[/home/riddle/Desktop/mat]
row=0
col=9

[/home/riddle/Desktop/ukraine etc]
row=2
col=1

[/home/riddle/Desktop/balou standard]
row=5
col=8

[/home/riddle/Desktop/WEBPAGE]
row=6
col=10

[/home/riddle/Desktop/coding skills]
row=3
col=4

[/home/riddle/Desktop/Music]
row=0
col=0

[/home/riddle/Desktop/linkedin.png]
row=0
col=2

[/home/riddle/Desktop/dremles vertimas]
row=5
col=6

[/home/riddle/Desktop/icon_arch.jpg]
row=6
col=6

[/home/riddle/Desktop/linkedin_scrum.png]
row=7
col=5

[/home/riddle/Desktop/---]
row=6
col=5

[/home/riddle/Desktop/coding books]
row=1
col=8

[/home/riddle/Desktop/House.of.Cards.S01E09.WEBRip.720p.H.264.AAC.2.0-HoC.mkv]
row=2
col=9

[/home/riddle/Desktop/comp books]
row=0
col=8

[/home/riddle/Desktop/{coderiai]
row=0
col=5

[/home/riddle/Desktop/Skelbimai]
row=0
col=0

[/home/riddle/Desktop/id areas]
row=6
col=8

[/home/riddle/Desktop/vc]
row=0
col=0

[/home/riddle/Desktop/wWallet]
row=0
col=0

[/home/riddle/Desktop/wBusiness plan Verslauk]
row=2
col=10

[/home/riddle/Desktop/Screenshots]
row=0
col=0

[/home/riddle/Desktop/fotos2015]
row=7
col=7

[/home/riddle/Desktop/wWork]
row=0
col=0

[/home/riddle/Desktop/wB-plan]
row=4
col=10

[/home/riddle/Desktop/spi]
row=4
col=1

[/home/riddle/Desktop/test.ods]
row=0
col=7

[/home/riddle/Desktop/adalana]
row=6
col=4

[/home/riddle/Desktop/startup-music]
row=0
col=0

[/home/riddle/Desktop/Movies series books]
row=7
col=1

[/home/riddle/Desktop/Dog.Day.Afternoon.1975.REPACK.720p.BRRip.x264-x0r.mkv]
row=6
col=0

[/home/riddle/Desktop/poker prob]
row=5
col=1

[/home/riddle/Desktop/FB lists]
row=1
col=3

[/home/riddle/Desktop/YOOtheme]
row=4
col=7

[/home/riddle/Desktop/Brainstorm]
row=5
col=3

[/home/riddle/Desktop/Games]
row=1
col=0

[/home/riddle/Desktop/fb link.png]
row=2
col=0

[/home/riddle/Desktop/balou simple arch]
row=6
col=7

[/home/riddle/Desktop/temp]
row=2
col=8

[/home/riddle/Desktop/palicika]
row=6
col=1

[/home/riddle/Desktop/notes]
row=4
col=4

[/home/riddle/Desktop/Poker]
row=4
col=0

[/home/riddle/Desktop/{ejimas pitchint soc wallet]
row=2
col=7

[/home/riddle/Desktop/icons, wallpapers]
row=0
col=6

[/home/riddle/Desktop/Grozionamai]
row=5
col=9

[/home/riddle/Desktop/{soc wallet klausimai]
row=1
col=7

[/home/riddle/Desktop/wScreens]
row=0
col=10

[/home/riddle/Desktop/mygame]
row=1
col=5

[/home/riddle/Desktop/LinkedIn.png]
row=1
col=2

[/home/riddle/Desktop/bookmarks mamos pc.html]
row=3
col=0

[/home/riddle/Desktop/signature mail]
row=7
col=2

[/home/riddle/Desktop/Adalana]
row=6
col=9

[/home/riddle/Desktop/w-line]
row=0
col=0

[/home/riddle/Desktop/wVideo]
row=0
col=0

[/home/riddle/Desktop/JL]
row=3
col=9

[/home/riddle/Desktop/jl laiskas4.odt]
row=4
col=5

[/home/riddle/Desktop/wKarolai]
row=1
col=10

[/home/riddle/Desktop/jl laiskas3.odt]
row=7
col=6

[/home/riddle/Desktop/wVideo2 rendered]
row=0
col=0

[/home/riddle/Desktop/FB instagram tweets]
row=2
col=3

