#################### MENUBAR ###################


style "menubar"		

{
  fg[NORMAL] = "#A49D9D"
#  fg[NORMAL] = "#FAFAFA"
  text[NORMAL] = "#131416"
  fg[PRELIGHT] = "#A49D9D"
  fg[ACTIVE] = "#A49D9D"
  fg[INSENSITIVE] = "#A49D9D"
  text[PRELIGHT] = "#A49D9D"

xthickness			= 1
  ythickness			= 3

	engine "pixmap"
	{
		image
		{
			function	= BOX
			state = NORMAL
			file		= "Others/null.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = ACTIVE
			file		= "Others/null.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = INSENSITIVE
			file		= "Others/null.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

  image
    {
      function			= BOX
      recolorable		= TRUE
			state = PRELIGHT
     file				= "Menu-Menubar/menubar-item.png"

      border			= { 10, 10, 10, 10 }
      stretch			= TRUE
    }

 	}
}

