[Desktop Entry]
Icon=image-svg+xml
Name=HEX-emerald.svg
Type=Link
URL[$e]=file://$HOME/Downloads/HexLite-KDETheme/Kickoff%20Icons/HEX-emerald.svg
X-KDE-LastOpenedWith=
