[Desktop Entry]
Icon=image-png
Name=screenshot-2016-07-26-151134.png
Type=Link
URL[$e]=file://$HOME/Screenshots/screenshot-2016-07-26-151134.png
X-KDE-LastOpenedWith=
