[Desktop Entry]
Icon=image-svg+xml
Name=Square-Green.svg
Type=Link
URL[$e]=file://$HOME/Downloads/HexLite-KDETheme/Kickoff%20Icons/Square-Green.svg
X-KDE-LastOpenedWith=
