#------------------------------------------------------------------------------
# Author: 00riddle00 (Tomas Giedraitis)
# Date:   2026-08-07 04:25:41 CEST
# Path:   ~/.config/lynx/keymap.cfg
# URL:    https://github.com/00riddle00/dotfiles
#------------------------------------------------------------------------------

KEYMAP:^U:UP_HALF  
KEYMAP:^D:DOWN_HALF  
