# vim: set ft=lynx tw=79 nu ai et ts=2 sw=2:
#------------------------------------------------------------------------------
# Author: 00riddle00 (Tomas Giedraitis)
# Date:   2026-08-11 19:22:53 CEST
# Path:   ~/.config/lynx/lynx.cfg
# URL:    https://github.com/00riddle00/dotfiles
#------------------------------------------------------------------------------

INCLUDE:/etc/lynx.cfg
INCLUDE:~/.config/lynx/keymap.cfg for KEYMAP
DEFAULT_BOOKMARK_FILE:~/.config/lynx/bookmarks.html
STARTFILE:file:///~/.config/lynx/bookmarks.html
CHARACTER_SET:utf-8
LOCALE_CHARSET:TRUE
ACCEPT_ALL_COOKIES:FALSE
NO_DOT_FILES:FALSE
SYSLOG_REQUESTED_URLS:FALSE
VI_KEYS_ALWAYS_ON:TRUE
