
! -- Urxvt settings -- !
URxvt.url-select.underline: true
URxvt.urlLauncher: firefox
URxvt.cursorUnderline: false
URxvt.cursorBlink: true
URxvt.geometry: 110x50
URxvt.scrollBar: false
URxvt*scrollBar_right: false
URxvt.borderLess: false
URxvt.borderColor: #37454e
URxvt.transparent: 0
URxvt*.shading: 0
URxvt*iconFile: /usr/share/icons/la-capitaine-icon-theme/apps/scalable/terminal.svg

URxvt.letterSpace: -1
URxvt.lineSpace: 2

! -- Fonts -- !
URxvt.font:     xft:bitstream vera sans mono:size=8:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=8:antialias=true

! Xft Font Configuration 
Xft.dpi: 96
Xft.antialias: true 
Xft.rgba: rgb
Xft.hinting: true 
Xft.hintstyle: hinstlight 


! -- Colours -- !
! -------------------------------------------------
! author:   jason ryan - http://jasonwryan.com/
! -------------------------------------------------
!! jwr dark
URxvt.background: #080808
URxvt.foreground: #999999

!black
Urxvt.color0:#333333
!Urxvt.color0:#242424
Urxvt.color8:#474747
!red
Urxvt.color1:#8A2F58
Urxvt.color9:#CF4F88
!green
Urxvt.color2:#287373
Urxvt.color10:#53A6A6
!yellow
Urxvt.color3:#914E89
Urxvt.color11:#BF85CC
!blue
Urxvt.color4:#395573
Urxvt.color12:#4779B3
!magenta
Urxvt.color5:#5E468C
Urxvt.color13:#7F62B3
!cyan
Urxvt.color6:#2B7694
Urxvt.color14:#58AEB1
!white
Urxvt.color7:#899CA1
Urxvt.color15:#C0C0C0

! --  Extensions -- !
!URxvt.perl-ext-common:     matcher,keyboard-select,url-select,clipboard
!URxvt.keysym.M-Escape:     perl:keyboard-select:activate
!URxvt.keysym.M-u:          perl:url-select:select_next
!URxvt.keysym.M-s:          perl:keyboard-select:search
!URxvt.clipboard.autocopy:  true
!URxvt.keysym.M-c:          perl:clipboard:copy
!URxvt.keysym.M-v:          perl:clipboard:paste
!URxvt.keysym.M-C-v:        perl:clipboard:paste_escaped
!URxvt.url-select.launcher: /home/jason/Scripts/run_browser
!URxvt.matcher.rend.0:      -Uline fg16
!URxvt.matcher.button:      1

! -- Xterm settings -- !
xterm*termName: xterm-256color
xterm*locale: true
xterm*cursorColor: #1792d0
xterm*toolBar: false
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*faceName: anonymous pro:bold:size=8
xterm*allowBoldFonts: true
xterm*dynamiccolors: true
xterm*utf8:               2
xterm*geometry:           100x50
xterm*visualBell:         off
xterm*highlightSelection: true
xterm*scrollTtyOutput: true

xterm*color0: #000000
xterm*color1: #CC0000
xterm*color2: #4E9A06
xterm*color3: #C4A000
xterm*color4: #3465A4
xterm*color5: #75507B
xterm*color6: #06989A
xterm*color7: #D3D7CF
xterm*color8: #555753
xterm*color9: #EF2929
xterm*color10: #8AE234
xterm*color11: #FCE94F
xterm*color12: #729FCF
xterm*color13: #AD7FA8
xterm*color14: #34E2E2
xterm*color15: #EEEEEC


! -- Xscreensaver settings -- !
xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -misc-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -misc-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -misc-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -misc-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #1792d0
xscreensaver.Dialog.background:         #202020
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #1792d0
xscreensaver.Dialog.Button.background:  #000000

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #7262b3
xscreensaver.Dialog.text.background:    #002626
xscreensaver.Dialog.internalBorderWidth: 45
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    4

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:   #1792d0 
xscreensaver.passwd.thermometer.background:  #7262b3
xscreensaver.passwd.thermometer.width:       6

!!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%p - %a %b %d, %Y


!-- xcalc settings -- !
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111

xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle



