
URxvt.url-select.underline: true
URxvt.urlLauncher: firefox
URxvt.cursorBlink: true
URxvt.geometry: 110x50
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.borderLess: true
URxvt.borderColor: #37454e

! TODO: decouple main user
#include "/home/riddle/.Xresources.d/urxvt-molokai"
!#include "/home/riddle/.Xresources.d/urxvt-solarized"
!#include "/home/riddle/.Xresources.d/urxvt-jasonwryan"

