
/* Dark color scheme */
@define-color panel_theme_fg_color #ffffff;
@define-color panel_theme_bg_color #1e1e1e;
@define-color panel_theme_base_color shade(@panel_theme_bg_color, 0.7);
@define-color panel_theme_selected_bg_color #8CBC65;

@define-color panel_button_gradient_color_a shade(@panel_theme_bg_color, 1.3);
@define-color panel_button_gradient_color_b shade(@panel_theme_bg_color, 0.85);

@define-color button_border #1e1e1e;

@define-color panel_theme_bg_button_pressed #689742;


/****************
 * Mate-Panel *
 ****************/

/* the panel bar itself */
.mate-panel-menu-bar,
MatePanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
MatePanelApplet {
	background-image: none;
	background-color: @panel_theme_bg_color;
	padding: 0;
	color: @panel_theme_fg_color;
	text-shadow: none;
}

/* needed for a working top panel with 24px (default) */
PanelMenuBar.menubar * {
	background-image: none;
	background-color: transparent;
	border-width: 0px;
	border-style: none;
	padding: 0px;
	text-shadow: none;
}

PanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@panel_theme_bg_color, 0.96)),
		to (shade (@panel_theme_bg_color, 1.05)));
	color: shade (@panel_theme_fg_color, 0.45);
	text-shadow: none;
}


/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button {
	/* Due to a bug somewhere in gtk or cairo,
	   a padding of zero (or even one) doesn't work always!!! */
	padding: 2px;

	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-image: none;
	text-shadow: 0 -1px black;

	color: @panel_theme_fg_color;
	background-image: -gtk-gradient (radial,
					0.5 -2.0, 2.0,
					0.5 -2.0, 3.0,
					from (shade(@panel_button_gradient_color_a, 1.5)),
					color-stop (0.42, shade(@panel_button_gradient_color_a, 0.7)),
					color-stop (0.43, @panel_theme_bg_color),
					to (shade(@panel_button_gradient_color_b, 0.7)));
}

MatePanelApplet .button:active:hover,
MatePanelApplet .button:active {
	color: @panel_theme_fg_color;
	border-image: none;
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                                  @panel_theme_bg_button_pressed 70%,
	                                  @button_hover_gradient_color_b);
}

MatePanelApplet .button:hover {
	border-image: none;
	border-style: solid;
	border-color: shade(@button_border, 1.1);
	background-image: linear-gradient(to bottom,
	                                  @button_hover_gradient_color_a,
	                                  @button_hover_gradient_color_b);
}

/*Wncklist */
WnckTasklist .button {
	/* Due to a bug somewhere in gtk or cairo,
	   a padding of zero (or even one) doesn't work always!!! */
	padding: 2px;

	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-image: none;
	text-shadow: 0 -1px black;           

	color: @panel_theme_fg_color;
	background-image: -gtk-gradient (radial,
					0.5 -2.0, 2.0,
					0.5 -2.0, 3.0,
					from (shade(@panel_button_gradient_color_a, 1.5)),
					color-stop (0.42, shade(@panel_button_gradient_color_a, 0.7)),
					color-stop (0.43, @panel_theme_bg_color),
					to (shade(@panel_button_gradient_color_b, 0.7)));
}


WnckTasklist .button:active:hover,
WnckTasklist .button:active {
	color: @panel_theme_fg_color;
	border-image: none;
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                                  @panel_theme_bg_button_pressed 70%,
	                                  @button_hover_gradient_color_b);
}

WnckTasklist .button:hover {
	border-image: none;
	border-style: solid;
	border-color: shade(@button_border, 1.1);
	background-image: linear-gradient(to bottom,
	                                  @button_hover_gradient_color_a,
	                                  @button_hover_gradient_color_b);
}

/* set selected button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menuitem:hover {
	color: @panel_theme_fg_color;
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                                  shade(@panel_button_gradient_color_b, 0.7),
	                                  @panel_theme_bg_color 50%,
	                                  shade(@panel_button_gradient_color_a, 1.5));
}

/* set WnckSelector selected menuitem */
.mate-panel-window-menu-menu-bar .menu .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menu .menuitem:hover {
	border-image: none;
	color: @panel_theme_fg_color;
	background-image: linear-gradient(to bottom,
	                                  shade(@panel_theme_selected_bg_color, 1.3),
	                                  shade(@panel_theme_selected_bg_color, 0.5));
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
	font: normal;
}

WnckPager {
	background-image: none;
	border-color: @transparent;
	background-color: @panel_theme_bg_color;
	text-shadow: none;
}

/* prelight of WnckPager */
MatePanelApplet *:hover {
	background-image: linear-gradient(to bottom,
		@panel_theme_bg_color,
		shade (@panel_theme_selected_bg_color, 0.86));
	background-color: @panel_theme_base_color;
}

/* Classic icon style */
.mate-panel-menu-bar {
	-PanelMenuBar-icon-visible: true;
}

NaTrayApplet {
/*	-NaTrayApplet-icon-padding: 12;
	-NaTrayApplet-icon-size: 16;*/
}

