# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Greeter=TerminalGreen.xml
Name=Terminal Green
Description=Terminal like Black and Green Theme
Author=Simon Atkins
Screenshot=screenshot.png
Copyright=GPL (C) 2007 bonzodog01@gmail.com

