
/* Comment this out for a custom .thunar style to be applied
 * TODO: solve this without the need to comment out
 */
*:not(.thunar) {
    font: 12px Noto Sans;	
}

.thunar { 
    font-size: 16px;
}

window#vim-main-window {
  background-color: #1793d1;
}

