[Desktop Entry]
Type=Application
Name=ranger
GenericName=File Manager
Exec=/usr/bin/urxvt -e ranger %u
Terminal=true
Comment=Launches ranger in terminal
