[Desktop Entry]
Type=Application
Name=nomacs
GenericName=Image Viewer
Exec=/usr/bin/nomacs %f
Terminal=false
Comment=nomacs is a free, open source image viewer
