# vim: set ft=desktop noai nu et ts=2 sw=2:
#------------------------------------------------------------------------------
# Author: 00riddle00 (Tomas Giedraitis)
# Date:   2026-08-11 00:56:53 CEST
# Path:   ~/.local/share/applications/mail.desktop
# URL:    https://github.com/00riddle00/dotfiles
#------------------------------------------------------------------------------
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/lib/thunderbird/thunderbird %u
Name=Thunderbird
Comment=Thunderbird is a GUI email client
