[Desktop Entry]
Type=Application
Name=EDITOR
GenericName=Text Editor
Exec=bash -c '/usr/bin/urxvt -e $EDITOR %u'
Terminal=false
Comment=Launches $EDITOR in terminal
