[Desktop Entry]
Type=Application
Name=EDITOR
GenericName=Text Editor
Exec=bash -c 'kitty --hold tmux new-session "$EDITOR" "$@"' _ %F
Terminal=false
Comment=Launches $EDITOR in terminal
