[Desktop Entry]
Type=Application
Name=rTorrent
GenericName=BitTorrent client
Exec=/usr/bin/env torradd %U
Terminal=true
Comment=The script toradd launches rTorrent in terminal
