[Desktop Entry]
Type=Application
Name=rTorrent
GenericName=BitTorrent client
Exec=/usr/bin/env add-torrent %U
Terminal=true
Comment=The script add-torrent launches rTorrent in terminal
