# vim: set ft=desktop noai nu et ts=2 sw=2:
#------------------------------------------------------------------------------
# Author: 00riddle00 (Tomas Giedraitis)
# Date:   2026-08-11 00:56:59 CEST
# Path:   ~/.local/share/applications/torrent.desktop
# URL:    https://github.com/00riddle00/dotfiles
#------------------------------------------------------------------------------
[Desktop Entry]
Type=Application
Name=rTorrent
GenericName=BitTorrent client
Exec=/usr/bin/env add-torrent %U
Terminal=true
Comment=The script add-torrent launches rTorrent in terminal
