<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>/home/riddle/.config/MonoDevelop-5.0/repository-cache/addins.monodevelop.com_0.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/5.10.1/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>false</IsReference>
      <File>/home/riddle/.config/MonoDevelop-5.0/repository-cache/addins.monodevelop.com_1.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/5.10.1/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep2">
      <IsReference>false</IsReference>
      <File>/home/riddle/.config/MonoDevelop-5.0/repository-cache/addins.monodevelop.com_2.mrep</File>
      <Url>http://addins.monodevelop.com/Alpha/Linux/5.10.1/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep3">
      <IsReference>true</IsReference>
      <File>/home/riddle/.config/MonoDevelop-5.0/repository-cache/addins.monodevelop.com_3.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/5.10.1/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2016-07-12T21:52:14+03:00</LastModified>
    </Repository>
    <Repository id="rep4">
      <IsReference>true</IsReference>
      <File>/home/riddle/.config/MonoDevelop-5.0/repository-cache/addins.monodevelop.com_4.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/5.10.1/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>2016-07-06T23:23:15+03:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>5</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>