[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/Mad.Max.Fury.Road.2015.3D.1080p.BluRay.x264-SPRiNTER_.torrent]
row=11
col=1

[/home/riddle/Desktop/VRP]
row=7
col=0

[/home/riddle/Desktop/137505-conky_HUD (1).zip]
row=9
col=0

[/home/riddle/Desktop/_20150830_153134.JPG]
row=1
col=1

[/home/riddle/Desktop/qalculate-gtk-nognome.tar.gz]
row=0
col=2

[/home/riddle/Desktop/week0w.txt]
row=1
col=2

[/home/riddle/Desktop/google-chrome.desktop]
row=9
col=1

[/home/riddle/Desktop/cs508-27 at 2.27.48 PM.png]
row=5
col=1

[/home/riddle/Desktop/conky_HUD]
row=4
col=0

[/home/riddle/Desktop/fortune-mod-1.99.1-6-x86_64.pkg.tar.xz]
row=7
col=1

[/home/riddle/Desktop/broadcom-wl-dkms]
row=3
col=0

[/home/riddle/Desktop/__MACOSX]
row=0
col=0

[/home/riddle/Desktop/137505-conky_HUD.zip]
row=8
col=0

[/home/riddle/Desktop/Adalana]
row=1
col=0

[/home/riddle/Desktop/Black Pearl Conky]
row=2
col=0

[/home/riddle/Desktop/[kat.cr]the.mythical.man.month.real.book.not.some.30.page.bulshit.torrent]
row=0
col=1

[/home/riddle/Desktop/cowsay-3.03-9-any.pkg.tar.xz]
row=4
col=1

[/home/riddle/Desktop/kacioras.JPG]
row=10
col=1

[/home/riddle/Desktop/The mythical man month]
row=6
col=0

[/home/riddle/Desktop/Mad.Max.Fury.Road.2015.3D.1080p.BluRay.x264-SPRiNTER_]
row=5
col=0

[/home/riddle/Desktop/152065-gmrun-0.9.3 (1).tar.bz2]
row=11
col=0

[/home/riddle/Desktop/broadcom-wl-dkms.tar.gz]
row=2
col=1

[/home/riddle/Desktop/compton.tar.gz]
row=3
col=1

[/home/riddle/Desktop/152065-gmrun-0.9.3.tar.bz2]
row=10
col=0

[/home/riddle/Desktop/debian-8.1.0-amd64-netinst.iso]
row=6
col=1

[/home/riddle/Desktop/gmrun-ng-master.zip]
row=8
col=1

