[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/django]
row=0
col=0

[/home/riddle/Desktop/Music]
row=3
col=0

[/home/riddle/Desktop/apache_server]
row=1
col=0

[/home/riddle/Desktop/Dog.Day.Afternoon.1975.REPACK.720p.BRRip.x264-x0r.mkv]
row=5
col=0

[/home/riddle/Desktop/May-Karl--Winnetou I.pdf]
row=4
col=0

[/home/riddle/Desktop/conky backup]
row=2
col=0

