[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/hangout_message.mp3]
row=16
col=1

[/home/riddle/Desktop/codingf]
row=13
col=1

[/home/riddle/Desktop/samsung_galaxy.mp3]
row=10
col=1

[/home/riddle/Desktop/Arch]
row=11
col=1

[/home/riddle/Desktop/random mintys]
row=17
col=1

[/home/riddle/Desktop/Workaholics.S05E02.HDTV.x264-KILLERS.mp4]
row=13
col=0

[/home/riddle/Desktop/---]
row=15
col=0

[/home/riddle/Desktop/darbukas]
row=10
col=0

[/home/riddle/Desktop/random brainstorm]
row=18
col=1

[/home/riddle/Desktop/coding brainstorm]
row=14
col=1

[/home/riddle/Desktop/coding skills]
row=15
col=1

[/home/riddle/Desktop/Workaholics.S05E04.HDTV.x264-ASAP.mp4]
row=11
col=0

[/home/riddle/Desktop/notes]
row=12
col=1

[/home/riddle/Desktop/game.of.thrones.s05e05.720p.hdtv.x264-0sec.mkv]
row=18
col=0

[/home/riddle/Desktop/Cell]
row=20
col=0

[/home/riddle/Desktop/Music]
row=19
col=0

[/home/riddle/Desktop/startup-music]
row=16
col=0

[/home/riddle/Desktop/Workaholics.S05E01.HDTV.x264-KILLERS.mp4]
row=14
col=0

[/home/riddle/Desktop/Community.S06E10.WEBRip.x264-TASTETV.mp4]
row=17
col=0

[/home/riddle/Desktop/Workaholics.S05E03.HDTV.x264-KILLERS.mp4]
row=12
col=0

