[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/startapas]
row=1
col=0

[/home/riddle/Desktop/temp]
row=9
col=2

[/home/riddle/Desktop/django app]
row=0
col=0

[/home/riddle/Desktop/Mysite0.desktop]
row=2
col=0

