[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/TOURO]
row=1
col=0

[/home/riddle/Desktop/temp]
row=2
col=0

[/home/riddle/Desktop/django app]
row=0
col=0

[/home/riddle/Desktop/Arch]
row=3
col=0

[/home/riddle/Desktop/Adalana]
row=5
col=0

[/home/riddle/Desktop/Mysite0.desktop]
row=4
col=0

