[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/Cell]
row=7
col=1

[/home/riddle/Desktop/Twitter]
row=10
col=2

[/home/riddle/Desktop/Emacs]
row=5
col=4

[/home/riddle/Desktop/{Wallet]
row=7
col=8

[/home/riddle/Desktop/image.png]
row=1
col=1

[/home/riddle/Desktop/wevents worldwide]
row=11
col=3

[/home/riddle/Desktop/wline notes]
row=6
col=2

[/home/riddle/Desktop/under_cons]
row=6
col=1

[/home/riddle/Desktop/id1 soc wallet.ods]
row=9
col=4

[/home/riddle/Desktop/swedbank]
row=3
col=8

[/home/riddle/Desktop/vizualke]
row=11
col=6

[/home/riddle/Desktop/style "panelbuttons"]
row=5
col=2

[/home/riddle/Desktop/social]
row=11
col=2

[/home/riddle/Desktop/books list]
row=0
col=12

[/home/riddle/Desktop/jl draft]
row=10
col=0

[/home/riddle/Desktop/pyth]
row=8
col=1

[/home/riddle/Desktop/wCompetitors.ods]
row=1
col=4

[/home/riddle/Desktop/sena.lt]
row=8
col=6

[/home/riddle/Desktop/job]
row=3
col=5

[/home/riddle/Desktop/Arch]
row=0
col=2

[/home/riddle/Desktop/html notes]
row=8
col=0

[/home/riddle/Desktop/Screenshot_2015-05-08_17-21-33.png]
row=9
col=0

[/home/riddle/Desktop/refleksijos]
row=3
col=3

[/home/riddle/Desktop/Pri]
row=8
col=3

[/home/riddle/Desktop/fb_splash_arch_banners.png]
row=2
col=5

[/home/riddle/Desktop/perfect vimrc]
row=5
col=5

[/home/riddle/Desktop/Arch_Linux_Wallpaper_by_james66.jpg]
row=5
col=6

[/home/riddle/Desktop/molokai file]
row=8
col=5

[/home/riddle/Desktop/maths]
row=7
col=7

[/home/riddle/Desktop/wBusiness]
row=10
col=8

[/home/riddle/Desktop/In the know.xlsx]
row=11
col=0

[/home/riddle/Desktop/vim color schemes]
row=7
col=5

[/home/riddle/Desktop/style "xfcepanel"]
row=8
col=4

[/home/riddle/Desktop/random test]
row=1
col=11

[/home/riddle/Desktop/test]
row=10
col=4

[/home/riddle/Desktop/archey config]
row=6
col=0

[/home/riddle/Desktop/fb_splash_extras.png]
row=4
col=5

[/home/riddle/Desktop/House.of.Cards.S01E12.WEBRip.720p.H.264.AAC.2.0-HoC.mkv]
row=0
col=1

[/home/riddle/Desktop/Devices customization]
row=0
col=4

[/home/riddle/Desktop/http.desktop]
row=8
col=2

[/home/riddle/Desktop/em1]
row=5
col=8

[/home/riddle/Desktop/mat]
row=8
col=9

[/home/riddle/Desktop/ukraine etc]
row=9
col=2

[/home/riddle/Desktop/(a)2014]
row=6
col=5

[/home/riddle/Desktop/Instagram fts]
row=0
col=6

[/home/riddle/Desktop/style "xfcepanel"2]
row=7
col=6

[/home/riddle/Desktop/app]
row=1
col=9

[/home/riddle/Desktop/coding skills]
row=3
col=2

[/home/riddle/Desktop/wBooks]
row=11
col=8

[/home/riddle/Desktop/Music]
row=0
col=0

[/home/riddle/Desktop/wifi_blacklist.png]
row=2
col=1

[/home/riddle/Desktop/Alan Turing _ The Enigma the Ce - Hodges, Andrew; Hofstadter, Dou{Moose}.mobi]
row=1
col=10

[/home/riddle/Desktop/wline color]
row=7
col=2

[/home/riddle/Desktop/CHERNEV - Logical Chess Move by Move.pdf]
row=2
col=0

[/home/riddle/Desktop/linkedin.png]
row=2
col=4

[/home/riddle/Desktop/Screenshots]
row=9
col=6

[/home/riddle/Desktop/linkedin.cdr]
row=4
col=2

[/home/riddle/Desktop/linkedin_scrum.png]
row=8
col=7

[/home/riddle/Desktop/---]
row=4
col=0

[/home/riddle/Desktop/vi-vim-cheat-sheet.gif]
row=4
col=3

[/home/riddle/Desktop/House.of.Cards.S01E09.WEBRip.720p.H.264.AAC.2.0-HoC.mkv]
row=1
col=12

[/home/riddle/Desktop/comp books]
row=1
col=5

[/home/riddle/Desktop/vc]
row=0
col=7

[/home/riddle/Desktop/Social Wallet Canvanizer.jpg]
row=1
col=3

[/home/riddle/Desktop/fb post]
row=7
col=4

[/home/riddle/Desktop/WEBPAGE]
row=10
col=6

[/home/riddle/Desktop/root phone]
row=2
col=3

[/home/riddle/Desktop/render2]
row=3
col=7

[/home/riddle/Desktop/Getting to Yes - Negotiating Agreement Without Giving In - Roger Fisher [Qwerty80].pdf]
row=3
col=1

[/home/riddle/Desktop/Community.S06E12.WEBRip.x264-BATV.mp4]
row=7
col=0

[/home/riddle/Desktop/w-line]
row=6
col=9

[/home/riddle/Desktop/wBusiness plan Verslauk]
row=9
col=8

[/home/riddle/Desktop/wB-plan]
row=0
col=9

[/home/riddle/Desktop/spi]
row=0
col=3

[/home/riddle/Desktop/D kalba]
row=2
col=2

[/home/riddle/Desktop/Screenshot_2015-05-08_17-20-54.png]
row=11
col=4

[/home/riddle/Desktop/adalana]
row=4
col=6

[/home/riddle/Desktop/fbsplash.png]
row=0
col=5

[/home/riddle/Desktop/PKK notes]
row=11
col=1

[/home/riddle/Desktop/House.of.Cards.S01E13.WEBRip.720p.H.264.AAC.2.0-HoC.mkv]
row=0
col=10

[/home/riddle/Desktop/Movies series books]
row=3
col=4

[/home/riddle/Desktop/biznis]
row=2
col=6

[/home/riddle/Desktop/poker prob]
row=10
col=1

[/home/riddle/Desktop/FB lists]
row=9
col=3

[/home/riddle/Desktop/cs]
row=1
col=0

[/home/riddle/Desktop/Games]
row=4
col=1

[/home/riddle/Desktop/Brainstorm]
row=1
col=2

[/home/riddle/Desktop/fb link.png]
row=6
col=4

[/home/riddle/Desktop/lrn books]
row=0
col=11

[/home/riddle/Desktop/Adalana]
row=3
col=6

[/home/riddle/Desktop/palicika]
row=4
col=4

[/home/riddle/Desktop/notes]
row=5
col=1

[/home/riddle/Desktop/Poker]
row=5
col=0

[/home/riddle/Desktop/icons, wallpapers]
row=6
col=6

[/home/riddle/Desktop/logo doncei]
row=10
col=5

[/home/riddle/Desktop/temp]
row=9
col=1

[/home/riddle/Desktop/Grozionamai]
row=1
col=6

[/home/riddle/Desktop/Skelbimai]
row=2
col=7

[/home/riddle/Desktop/LinkedIn.png]
row=5
col=3

[/home/riddle/Desktop/bookmarks mamos pc.html]
row=4
col=8

[/home/riddle/Desktop/signature mail]
row=7
col=3

[/home/riddle/Desktop/Python]
row=5
col=7

[/home/riddle/Desktop/render]
row=4
col=7

[/home/riddle/Desktop/wVideo]
row=9
col=5

[/home/riddle/Desktop/wScreens]
row=6
col=7

[/home/riddle/Desktop/JL]
row=11
col=5

[/home/riddle/Desktop/wKarolai]
row=8
col=8

[/home/riddle/Desktop/startup-music]
row=3
col=0

[/home/riddle/Desktop/skoda]
row=1
col=7

[/home/riddle/Desktop/vertimas]
row=6
col=3

[/home/riddle/Desktop/wVideo2 rendered]
row=7
col=9

[/home/riddle/Desktop/FB instagram tweets]
row=10
col=3

[/home/riddle/Desktop/{Work]
row=6
col=8

