[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/antakis.jpg]
row=0
col=0

[/home/riddle/Desktop/blakstienos2.jpg]
row=3
col=2

[/home/riddle/Desktop/f5.jpg]
row=7
col=0

[/home/riddle/Desktop/f2.jpg]
row=7
col=1

[/home/riddle/Desktop/blak.jpeg]
row=1
col=1

[/home/riddle/Desktop/Hair-Dressing-Salon-2.jpg]
row=11
col=2

[/home/riddle/Desktop/HairListicle4 (1).jpg]
row=6
col=1

[/home/riddle/Desktop/Petals.png]
row=1
col=3

[/home/riddle/Desktop/massage5.jpg]
row=3
col=1

[/home/riddle/Desktop/pl.00_jpg_srz]
row=8
col=1

[/home/riddle/Desktop/veido-proceduros.jpg]
row=10
col=1

[/home/riddle/Desktop/t.adalana logins]
row=3
col=0

[/home/riddle/Desktop/nailpicture.jpg]
row=0
col=3

[/home/riddle/Desktop/dep3.jpg]
row=4
col=2

[/home/riddle/Desktop/HairListicle4.jpg]
row=4
col=0

[/home/riddle/Desktop/riddlesite]
row=7
col=2

[/home/riddle/Desktop/pl.jpg]
row=9
col=1

[/home/riddle/Desktop/hair-removal-9.jpg]
row=5
col=1

[/home/riddle/Desktop/Light-grey-background-pattern-i1-1024x682.jpg]
row=2
col=2

[/home/riddle/Desktop/antakiai.jpg]
row=2
col=1

[/home/riddle/Desktop/f3.jpg]
row=9
col=2

[/home/riddle/Desktop/shutterstock_136867901.jpg]
row=11
col=1

[/home/riddle/Desktop/PEDICURE 1.jpeg]
row=10
col=0

[/home/riddle/Desktop/b1.jpg]
row=8
col=0

[/home/riddle/Desktop/logo.png]
row=5
col=0

[/home/riddle/Desktop/dep4.jpg]
row=1
col=2

[/home/riddle/Desktop/vconsole.conf]
row=6
col=0

[/home/riddle/Desktop/blak3.jpg]
row=0
col=2

[/home/riddle/Desktop/adalana backup rug1 1psd]
row=6
col=2

[/home/riddle/Desktop/apps]
row=2
col=0

[/home/riddle/Desktop/julep-products.jpg]
row=9
col=0

[/home/riddle/Desktop/blakstienos.jpeg]
row=11
col=0

[/home/riddle/Desktop/themeforest-4635420-lotus-spa-wellness-html-responsive-template.zip]
row=4
col=1

[/home/riddle/Desktop/f4.jpg]
row=8
col=2

[/home/riddle/Desktop/f1.jpg]
row=10
col=2

[/home/riddle/Desktop/eyelash-extension.jpg]
row=5
col=2

[/home/riddle/Desktop/pkg]
row=1
col=0

[/home/riddle/Desktop/header-img.jpg]
row=0
col=1

