[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/Ловля щук]
row=3
col=1

[/home/riddle/Desktop/archlinux]
row=5
col=0

[/home/riddle/Desktop/Lenovo R50e:]
row=2
col=0

[/home/riddle/Desktop/media]
row=4
col=1

[/home/riddle/Desktop/archlinux.docx]
row=0
col=1

[/home/riddle/Desktop/MYpylab]
row=7
col=0

[/home/riddle/Desktop/apache.desktop]
row=4
col=0

[/home/riddle/Desktop/menu-backup.xml]
row=9
col=0

[/home/riddle/Desktop/rc-backup.xml]
row=0
col=0

[/home/riddle/Desktop/Mysite0.desktop]
row=3
col=0

[/home/riddle/Desktop/LICENSE]
row=7
col=1

[/home/riddle/Desktop/pylab]
row=8
col=0

[/home/riddle/Desktop/DE words]
row=6
col=1

[/home/riddle/Desktop/Adalana]
row=6
col=0

[/home/riddle/Desktop/mysite]
row=1
col=1

[/home/riddle/Desktop/openbox]
row=2
col=1

[/home/riddle/Desktop/Main]
row=10
col=0

[/home/riddle/Desktop/Note 3 20150802]
row=5
col=1

[/home/riddle/Desktop/signature mail]
row=1
col=0

