[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/wallp2.png]
row=1
col=0

[/home/riddle/Desktop/1451438.png]
row=2
col=0

[/home/riddle/Desktop/3840x2400.jpg]
row=0
col=0

