[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/hangout_message.mp3]
row=6
col=0

[/home/riddle/Desktop/samsung_galaxy.mp3]
row=5
col=0

[/home/riddle/Desktop/random mintys]
row=0
col=1

[/home/riddle/Desktop/Workaholics.S05E04.HDTV.x264-ASAP.mp4]
row=4
col=1

[/home/riddle/Desktop/Workaholics.S05E02.HDTV.x264-KILLERS.mp4]
row=2
col=1

[/home/riddle/Desktop/---]
row=4
col=0

[/home/riddle/Desktop/random brainstorm]
row=7
col=0

[/home/riddle/Desktop/notes]
row=5
col=1

[/home/riddle/Desktop/game.of.thrones.s05e05.720p.hdtv.x264-0sec.mkv]
row=1
col=0

[/home/riddle/Desktop/Workaholics.S05E01.HDTV.x264-KILLERS.mp4]
row=1
col=1

[/home/riddle/Desktop/startup-music]
row=3
col=0

[/home/riddle/Desktop/Workaholics.S05E03.HDTV.x264-KILLERS.mp4]
row=3
col=1

[/home/riddle/Desktop/Music]
row=0
col=0

[/home/riddle/Desktop/Community.S06E10.WEBRip.x264-TASTETV.mp4]
row=2
col=0

