[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/riddle/Desktop/ALFAPATVIRTINIMAS1.docx]
row=3
col=0

[/home/riddle/Desktop/Arch]
row=5
col=0

[/home/riddle/Desktop/tmp ships]
row=4
col=0

[/home/riddle/Desktop/tmp laivai]
row=2
col=0

[/home/riddle/Desktop/pflag.png]
row=6
col=0

[/home/riddle/Desktop/Mysite0.desktop]
row=7
col=0

[/home/riddle/Desktop/calico-jack-rackhams-pirate-flag.jpg]
row=1
col=1

[/home/riddle/Desktop/temp]
row=1
col=0

[/home/riddle/Desktop/mysite]
row=0
col=0

[/home/riddle/Desktop/Adalana]
row=0
col=1

