[Desktop Entry]
Name=Hex Lite
X-KDE-PluginInfo-Author=garthecho 2014, based on Caledonia by Malcer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL 2.0
X-KDE-PluginInfo-EnabledByDefault=true
