[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Web
Comment=
Exec=exo-open --launch WebBrowser
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

