<?xml version="1.0" encoding="utf-8"?>
<!--
#==============================================================================
# Author: 00riddle00 (Tomas Giedraitis)
# Date:   2024-07-16 15:47:36 EEST
# Path:   ~/.config/openbox/menu.xml
# URL:    https://github.com/00riddle00/dotfiles
#==============================================================================
-->
<openbox_menu xmlns="https://openbox.org/3.4/menu">
<menu id="root-menu" label="Openbox 3">
  <!-- Empty menu. -->
</menu>
</openbox_menu>
